

/* Define the colours to be used */
// ================================================

// Chapter Colours
$chapter1-colour:#366628;

// Chapter Bg colours
$chapter1-bgcolour:#b5cf41;

// Chapter Bg tint
$chapter1-bgtint:#dde7a2;


// Common 
$grey: #666666;
$red: #a2382f;
$purple: #75386d;
$heading-blue: #679fcd;


$tooltip-color: $red;
$tooltip-bg: #d8d8d3;

$tooltip-font-weight: normal;
$tooltip-font-color: #000;
$tooltip-radius: 0;


// Panel colours
$interactive-panel:#75386d;
$activity-panel:#fffacb;
$task-panel:#dce7ef;
$extra-panel:#e0e8dc;


// Tables
$activity-table-head:#e6be33;
$activity-table-cell:#f5e1a4;