


/* Page elements */

#epub{

	h2{
		background-color: $heading-blue;
		color: #fff;
		padding: 0 0.5em;
	}
	
	h3{
		color: $heading-blue;
	}
	h5{
		text-transform: uppercase;
		font-weight: 400;
	}
	
	figcaption{
		padding-left: 25px;
		background-size: 14px auto;
		@include svg-bg("../images/ui/figure-arrow", no-repeat, 0 15px);
	}

}



