

/*	Base styles */
//	================================================================================================
//	These styles apply baseline presentation that are common to all epub titles.
//	================================================================================================
/* 	All styles are being scoped to a base ID to help with style spill in the epUb player */
// 	================================================================================================


#epub{


	/* The data attribute on the root epub element provides the page with the reposive grid config */
	// ================================================================================================

	> div:first-child[data-type="page"] {
			@include grid-row;
			@include grid-column(12, false, false, false, false, false, false, false);
	}

	> div:first-child[data-type="eoc"] {
		> div:first-child{
			@include grid-row;
			@include grid-column(12, false, false, false, false, false, false, false);
		}
	}


	// Images
	// ================================================================================================
	img{
		width:100%;
	}
	figure{
		width:100%;
		margin: 10px 0;
	}

	figcaption{
		padding:15px 0;
		font-weight:normal;
		font-size: $base-font-size * 0.90;
		line-height: 1.2em;
		strong{
			font-weight:bold;
		}
	}


	// Tables
	// ================================================================================================
	table{
		width:100%;
		margin:25px 0;
		table-layout: fixed;
		font-size: $base-font-size * 0.9;

		@media #{$small} {
			font-size: $base-font-size;
		}

		th,
		td{
			text-align:left;
			vertical-align: top;
		}
		tr th{
			background-color:#ccc;
			font-size:1.1em;
			line-height: 1.4em;
		}
		tr td{
			padding:0.8em;
		}
	}
	caption{
		caption-side:bottom;
		text-align:left;
		font-weight:normal;
		font-size: $base-font-size * 0.90;
		line-height: 1.2em;
		padding:10px 0;
		strong{
			font-weight:bold;
		}
	}
	


	// Forms
	// ================================================================================================
	textarea, input{
    	box-shadow: none;
	}


	// Download button
	// ================================================================================================
	.download{
		font-size: 4.5em;
		float: left;
		padding:0.1em;
		@media #{$small} {
			padding:0.3em;
			font-size: 5.2em;		
		}
	}
	// .download{
	// 	@include clearfix();
	// 	text-align:left;
	// 	margin-bottom: 25px;

	// 	@media #{$small} {
	// 		text-align:center;
	// 	}

	// 	>a >span {
	// 		font-size:emCalc(60px);
	// 		float: left;

	// 		@media #{$small} {
	// 			float: none;
	// 			font-size:emCalc(80px);
	// 		}
	// 	}
	// 	>a >span + div{
	// 		margin-top: 15px;
	// 		margin-left: 10px;
	// 		margin-bottom: 15px;
	// 		font-size:emCalc(20px);
	
	// 		float: left;

	// 		@media #{$small} {
	// 			float: none;
	// 			margin: 15px 0px 0px 0px;
	// 			font-size:emCalc(20px);
	// 		}
	// 	}
	// }



	//	Lists
	// ================================================================================================
	ul,ol{
		list-style-position:outside;
		margin-left:20px;
		
		li{
			margin-bottom: 0.4em;
		}
		ul,ol{
			margin-bottom: 0;
		}	
	}


	ul{
		ul{
			li{list-style-type:none;}
			li:before {  
	    		content: "– "; 
	    		margin-left: -20px;
	  		} 
		}
	}


	ol{
		ul{
			li{
				list-style-type:disc;
			}
		}
	}


	ol.roman{
		list-style-position:outside;
		li{
			list-style-type:lower-roman;	
			padding:0px 0px;
			margin:5px 0px;
		}
	}
	ol.alpha-lower{
		list-style-position:outside;
		li{
			list-style-type:lower-alpha;	
			padding:0px 0px;
			margin:5px 0px;
		}
	}
	ol.alpha-upper{
		list-style-position:outside;
		li{
			list-style-type:upper-alpha;	
			padding:0px 0px;
			margin:5px 0px;
		}
	}




	// iFrames
	// ================================================================================================
	iframe{
		width: 100%;
		min-height: 400px;
		margin-bottom: 1em;
	}



	// Block grid / Image tile
	// ================================================================================================
	.image-tile-2,
	.image-tile-3,
	.image-tile-4{
		figure{
			width:100%;
			margin:0;
		}
	};

	.image-tile-2{@include block-grid(1, $block-grid-default-spacing)};
	.image-tile-3{@include block-grid(1, $block-grid-default-spacing)};
	.image-tile-4{@include block-grid(1, $block-grid-default-spacing)};

	@media #{$small} {	
		.image-tile-2{@include block-grid(2, $block-grid-default-spacing)};
		.image-tile-3{@include block-grid(3, $block-grid-default-spacing)};
		.image-tile-4{@include block-grid(4, $block-grid-default-spacing)};
	}


	/* Helpers
	================================================================================================ */
	.inline{
		width:50% !important;
		display:block;
	}
	.float-left{
		width: 100%;
		@media #{$small} {	
			float:left;
			width: 40%;
			margin-right:50px; 
		}
	}
	.float-right{
	 	width: 100%;
			@media #{$small} {
			float:right;
			width: 40%;
			margin-left:50px; 
		}
	}
	.float-center{
	 	width: 100%;
			@media #{$small} {
			width: 70%;
			margin:0 auto; 
		}
	}
	
	.float-right.small{
		width: 60%;
		margin:0 auto;
		@media #{$small} {
			width: 25%;
			margin-left:50px; 
		}
	}
	.float-left.small{
		width: 60%;
		margin:0 auto;
		@media #{$small} {
			width: 25%;
			margin-right:50px; 
		}
	}
}



	/* Misc
	================================================================================================ */
	.caption{
		font-size: 90%;
		text-align: right;
	}





	/* Reveal lightbox overide
	================================================================================================
	Provides the Zoom icon */
	figure {
		a[data-reveal-id]{
			span{	
				float: right;
				position: relative;
				top: -41px;
				right: 0;
				font-size: 1.6em;
				padding:0.3em;
				background-color: #000;
				color: #fff;
			}
		}
		a:hover{
			span{
				background-color:#fff;
				color: #000;
			}
		}
	}

// Overide deault foundation behaviour. 
// CamCore styles aren't applied as they are scoped to the #epub ID
// ================================================================================================

.reveal-modal{
	figure,img{width: 100%}
	figcaption{
		padding:15px 0 0 0;
		font-weight:normal;
		font-size: $base-font-size * 0.90;
		line-height: 1.4em;
		> strong{
			font-weight:bold;
		}
	}
}




